In [1]:
import pandas as pd

## For Val data

In [2]:
bert=pd.read_csv('./Metrics/Valmet/met_Bert_val_hasoc.csv')
indic=pd.read_csv('./Metrics/Valmet/met_Indic_val_hostile.csv')
muril=pd.read_csv('./Metrics/Valmet/met_Muril_val_final.csv')
robetaciv=pd.read_csv('./Metrics/Valmet/met_Roberta_val_civil.csv')
roberta=pd.read_csv('./Metrics/Valmet/met_Roberta_val_final.csv')

In [3]:
# Extract metrics
bert_metrics = bert.iloc[0:5,1]
indic_metrics = indic.iloc[0:5,1]
muril_metrics = muril.iloc[0:5,1]
robertaciv_metrics = robetaciv.iloc[0:5,1]
roberta_metrics = roberta.iloc[0:5,1]

# metrics = bert.columns[1:].tolist()
models = ['BERT', 'Indic', 'Muril', 'RobertaCiv', 'Roberta'] # Manually define model names

# Create the dataframe
df = pd.DataFrame({
    'Model Name': models,
    'Accuracy': [bert_metrics[0], indic_metrics[0], muril_metrics[0], robertaciv_metrics[0], roberta_metrics[0]],
    'F1-score': [bert_metrics[1], indic_metrics[1], muril_metrics[1], robertaciv_metrics[1], roberta_metrics[1]],
    'Precision': [bert_metrics[2], indic_metrics[2], muril_metrics[2], robertaciv_metrics[2], roberta_metrics[2]],
    'Recall': [bert_metrics[3], indic_metrics[3], muril_metrics[3], robertaciv_metrics[3], roberta_metrics[3]],
    'AUROC': [bert_metrics[4], indic_metrics[4], muril_metrics[4], robertaciv_metrics[4], roberta_metrics[4]]
})

# Set 'Model' column as index
df.set_index('Model Name', inplace=True)

df

            Accuracy  F1-score  Precision    Recall     AUROC
Model Name
BERT        0.437236  0.453175   0.369048  0.586982  0.462758
Indic       0.379778  0.368883   0.349169  0.390957  0.380536
Muril       0.862733  0.835339   0.800088  0.873840  0.864608
RobertaCiv  0.432978  0.348624   0.272166  0.484822  0.447091
Roberta     0.536153  0.470949   0.431640  0.518135  0.533112

In [4]:
# prompt: Using dataframe df: Highlight the max in each column

def highlight_max(s):
    '''
    highlight the maximum in a Series Bold.
    '''
    is_max = s == s.max()
    return ['font-weight: bold' if v else '' for v in is_max]

df.style.apply(highlight_max)

## For test data

In [5]:
civdistil=pd.read_csv('./Metrics/Testmet/Civil/Distilbert_with_civil.csv')
civindic=pd.read_csv('./Metrics/Testmet/Civil/Indic_with_civil.csv')
civmuril=pd.read_csv('./Metrics/Testmet/Civil/Muril_with_civil.csv')
civroberta=pd.read_csv('./Metrics/Testmet/Civil/Roberta_with_civil.csv')
civrobfinal=pd.read_csv('./Metrics/Testmet/Civil/Roberta_on_final_with_civil.csv')
civllm=pd.read_csv('./Metrics/LLMmet/civil.csv')

findistil=pd.read_csv('./Metrics/Testmet/Final/Distilbert_with_final.csv')
finindic=pd.read_csv('./Metrics/Testmet/Final/Indic_with_final.csv')
finmuril=pd.read_csv('./Metrics/Testmet/Final/Muril_with_final.csv')
finroberta=pd.read_csv('./Metrics/Testmet/Final/Roberta_with_final.csv')
finrobfinal=pd.read_csv('./Metrics/Testmet/Final/Roberta_on_final_with_final.csv')
finllm=pd.read_csv('./Metrics/LLMmet/final.csv')

hasdistil=pd.read_csv('./Metrics/Testmet/Hasoc/Distilbert_with_hasoc.csv')
hasindic=pd.read_csv('./Metrics/Testmet/Hasoc/Indic_with_hasoc.csv')
hasmuril=pd.read_csv('./Metrics/Testmet/Hasoc/Muril_with_hasoc.csv')
hasroberta=pd.read_csv('./Metrics/Testmet/Hasoc/Roberta_with_hasoc.csv')
hasrobfinal=pd.read_csv('./Metrics/Testmet/Hasoc/Roberta_on_final_with_hasoc.csv')
hasllm=pd.read_csv('./Metrics/LLMmet/hasoc.csv')

hostdistil=pd.read_csv('./Metrics/Testmet/Hostile/Distilbert_with_hostile.csv')
hostindic=pd.read_csv('./Metrics/Testmet/Hostile/Indic_with_hostile.csv')
hostmuril=pd.read_csv('./Metrics/Testmet/Hostile/Muril_with_hostile.csv')
hostroberta=pd.read_csv('./Metrics/Testmet/Hostile/Roberta_with_hostile.csv')
hostrobfinal=pd.read_csv('./Metrics/Testmet/Hostile/Roberta_on_final_with_hostile.csv')
hostllm=pd.read_csv('./Metrics/LLMmet/host.csv')

In [6]:
# Extract metrics
bert_metrics = civdistil.iloc[0:5,1]
indic_metrics = civindic.iloc[0:5,1]
muril_metrics = civmuril.iloc[0:5,1]
robertaciv_metrics = civroberta.iloc[0:5,1]
roberta_metrics = civrobfinal.iloc[0:5,1]
llm_metrics=civllm.iloc[0:5,1]

finbert_metrics = findistil.iloc[0:5,1]
finindic_metrics = finindic.iloc[0:5,1]
finmuril_metrics = finmuril.iloc[0:5,1]
finrobertaciv_metrics = finroberta.iloc[0:5,1]
finroberta_metrics = finrobfinal.iloc[0:5,1]
finllm_metrics=finllm.iloc[0:5,1]


hasbert_metrics = hasdistil.iloc[0:5,1]
hasindic_metrics = hasindic.iloc[0:5,1]
hasmuril_metrics = hasmuril.iloc[0:5,1]
hasrobertaciv_metrics = hasroberta.iloc[0:5,1]
hasroberta_metrics = hasrobfinal.iloc[0:5,1]
hasllm_metrics=hasllm.iloc[0:5,1]


hostbert_metrics = hostdistil.iloc[0:5,1]
hostindic_metrics = hostindic.iloc[0:5,1]
hostmuril_metrics = hostmuril.iloc[0:5,1]
hostrobertaciv_metrics = hostroberta.iloc[0:5,1]
hostroberta_metrics = hostrobfinal.iloc[0:5,1]
hostllm_metrics=hostllm.iloc[0:5,1]

In [7]:
index = pd.MultiIndex.from_product([['Civil','Final','Hasoc','Hostile'],
                                    ('BERT', 'Indic', 'Muril', 'RobertaCiv', 'Roberta', 'LLM OpenHathi')],
                                   names=['Data', 'Model'])
df_all = pd.DataFrame(
    data=([bert_metrics[0], bert_metrics[1], bert_metrics[2], bert_metrics[3], bert_metrics[4]],
          [indic_metrics[0], indic_metrics[1], indic_metrics[2], indic_metrics[3], indic_metrics[4]],
          [muril_metrics[0], muril_metrics[1], muril_metrics[2], muril_metrics[3], muril_metrics[4]],
          [robertaciv_metrics[0], robertaciv_metrics[1], robertaciv_metrics[2], robertaciv_metrics[3], robertaciv_metrics[4]],
          [roberta_metrics[0], roberta_metrics[1], roberta_metrics[2], roberta_metrics[3], roberta_metrics[4]],
          [llm_metrics[0], llm_metrics[1], llm_metrics[2], llm_metrics[3], llm_metrics[4]],
          

          [finbert_metrics[0], finbert_metrics[1], finbert_metrics[2], finbert_metrics[3], finbert_metrics[4]],
          [finindic_metrics[0], finindic_metrics[1], finindic_metrics[2], finindic_metrics[3], finindic_metrics[4]],
          [finmuril_metrics[0], finmuril_metrics[1], finmuril_metrics[2], finmuril_metrics[3], finmuril_metrics[4]],
          [finrobertaciv_metrics[0], finrobertaciv_metrics[1], finrobertaciv_metrics[2], finrobertaciv_metrics[3], finrobertaciv_metrics[4]],
          [finroberta_metrics[0], finroberta_metrics[1], finroberta_metrics[2], finroberta_metrics[3], finroberta_metrics[4]],
          [finllm_metrics[0], finllm_metrics[1], finllm_metrics[2], finllm_metrics[3], finllm_metrics[4]],
          

          [hasbert_metrics[0], hasbert_metrics[1], hasbert_metrics[2], hasbert_metrics[3], hasbert_metrics[4]],
          [hasindic_metrics[0], hasindic_metrics[1], hasindic_metrics[2], hasindic_metrics[3], hasindic_metrics[4]],
          [hasmuril_metrics[0], hasmuril_metrics[1], hasmuril_metrics[2], hasmuril_metrics[3], hasmuril_metrics[4]],
          [hasrobertaciv_metrics[0], hasrobertaciv_metrics[1], hasrobertaciv_metrics[2], hasrobertaciv_metrics[3], hasrobertaciv_metrics[4]],
          [hasroberta_metrics[0], hasroberta_metrics[1], hasroberta_metrics[2], hasroberta_metrics[3], hasroberta_metrics[4]],
          [hasllm_metrics[0], hasllm_metrics[1], hasllm_metrics[2], hasllm_metrics[3], hasllm_metrics[4]],
          

          [hostbert_metrics[0], hostbert_metrics[1], hostbert_metrics[2], hostbert_metrics[3], hostbert_metrics[4]],
          [hostindic_metrics[0], hostindic_metrics[1], hostindic_metrics[2], hostindic_metrics[3], hostindic_metrics[4]],
          [hostmuril_metrics[0], hostmuril_metrics[1], hostmuril_metrics[2], hostmuril_metrics[3], hostmuril_metrics[4]],
          [hostrobertaciv_metrics[0], hostrobertaciv_metrics[1], hostrobertaciv_metrics[2], hostrobertaciv_metrics[3], hostrobertaciv_metrics[4]],
          [hostroberta_metrics[0], hostroberta_metrics[1], hostroberta_metrics[2], hostroberta_metrics[3], hostroberta_metrics[4]],
          [hostllm_metrics[0], hostllm_metrics[1], hostllm_metrics[2], hostllm_metrics[3], hostllm_metrics[4]]) , index=index, columns=['Accuracy','F1-score','Precision','Recall','AUROC'])

In [8]:
df_all

                       Accuracy  F1-score  Precision    Recall     AUROC
Data    Model
Civil   BERT           0.467956  0.299289   0.216015  0.487042  0.474596
        Indic          0.491737  0.285633   0.212492  0.435556  0.472194
        Muril          0.895244  0.803151   0.715037  0.916033  0.902476
        RobertaCiv     0.431318  0.280483   0.198973  0.475121  0.446555
        Roberta        0.510722  0.331663   0.243394  0.520387  0.514084
        LLM OpenHathi  0.703112  0.414115   0.401600  0.427436  0.610117
Final   BERT           0.545281  0.446279   0.361908  0.581948  0.555188
        Indic          0.491041  0.376275   0.306354  0.487552  0.490098
        Muril          0.866305  0.802557   0.750084  0.862924  0.865392
        RobertaCiv     0.866305  0.802557   0.750084  0.862924  0.865392
        Roberta        0.519008  0.397909   0.328393  0.504758  0.515158
        LLM OpenHathi  0.661568  0.496264   0.490289  0.502386  0.621504
Hasoc   BERT           0.428733  0.441339   0.359928  0.570342  0.453186
        Indic          0.453554  0.395339   0.351591  0.451521  0.453203
        Muril          0.750658  0.712863   0.654733  0.782319  0.756125
        RobertaCiv     0.517488  0.491478   0.421482  0.589354  0.529898
        Roberta        0.461452  0.375763   0.347021  0.409696  0.452514
        LLM OpenHathi  0.584430  0.573853   0.482803  0.707224  0.605635
Hostile BERT           0.465215  0.514286   0.450000  0.600000  0.472394
        Indic          0.375076  0.372799   0.354095  0.393590  0.376062
        Muril          0.843920  0.820833   0.895455  0.757692  0.839327
        RobertaCiv     0.472474  0.468293   0.446512  0.492308  0.473531
        Roberta        0.494253  0.472222   0.465174  0.479487  0.493466
        LLM OpenHathi  0.628641  0.636580   0.589659  0.691613  0.632175

In [9]:
# prompt: for each data highlight the metrics

def highlight_max(s):
    '''
    highlight the maximum in a Series Bold.
    '''
    is_max = s == s.max()
    return ['font-weight: bold' if v else '' for v in is_max]

# Apply the highlight_max function to each data subset
styled_dfs = []
for data in df_all.index.get_level_values('Data').unique():
  styled_dfs.append(df_all.loc[data].style.apply(highlight_max))

# Display the styled DataFrames
for styled_df in styled_dfs:
  display(styled_df)